
/* Resets some margins and padding */
p, figure {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	background-color: #f9f6ed;
}

header, footer {
	background-color:#011c4f;
	padding: 0.5em 0 0.5em 0;
	width: 520px;
}

header {
	margin: 0 auto 1em auto;
}

footer {
	margin: 1em auto 0 auto;
}

nav p, footer p {
	text-align: right;
	padding-right: 0.5em;
}

footer p.bottom {
	text-align: left;
	font-family: "Arial", Helvetica, Arial, sans-serif;
	font-size: 2em;
	color: #c1a868;
	margin: 0.25em 0.25em 0 0.25em;
	padding-left: 0.15em;
	border-left: thick solid #c1a868;
	border-top: thick solid #c1a868;
}

h1 {
	font-family: "Arial", Helvetica, Arial, sans-serif;
	font-size: 2em;
	color: #c1a868;
	margin: 0.25em 0.25em 0 0.25em;
	padding-left: 0.15em;
	border-bottom: thick solid #c1a868;
	border-left: thick solid #c1a868;
}

figure img {
	padding: 15px 15px 15px 15px;
	border: 15px solid #011c4f;
	background-color: white;
}

div.band {
	padding: 15px 15px 15px 15px;
	border: 15px solid #011c4f;
	width: 460px;
	background-color: #6f613d;
	margin-left: auto;
	margin-right: auto;
}

a:link {
   color: white;
   font-style:italic;
}
a:visited {
   color: white;
   font-style:italic;
}
a:hover {
	font-weight:bold;
}